button{
    display: flex;
    flex-wrap: wrap;
    padding-top: 4px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: crimson;
    margin: 300px 730px;
    width: 5%;
    height: 2em;
    cursor: pointer;
    border-color: darkturquoise;
    box-shadow: 0 4px #999;
    
    
    

    
    
    
}
.button:active {
  
    box-shadow: 0 5px #666;
    transform: translateY(4px);

}

@media only screen and (max-width: 600px) {
button{
    width:25%;
    display: flex;
    margin: 325px 125px;
    
}
}

@media only screen and (min-width:601px) and (max-width: 900px) {
    button{
        width:15%;
        display: flex;
        margin: 325px 125px;
        
    }

}
@media only screen and (min-width:901px) and (max-width: 1200px) {
    button{
        width:8%;
        display: flex;
        margin: 325px 500px;
        
    }

}